@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #201e35;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container{
    width: 400px;
    height: 400px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

ul{
    width: 100%;
    list-style: none;
    padding: 20px;
    margin-left: 20px;
}

li{
    height: 50px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    transition: all .5s;
    z-index: 10;
    padding: 5px 20px;
    margin: 1em 2em;
    border-radius: 10px;
    cursor: pointer;
    font: normal 400 23px Roboto;
}

li::before{
    content: '';
    position: absolute;
    vertical-align: middle;
    left: -20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #2a4dc7;
    z-index: -1;
    transition: all .5s;
}

li:hover::before{
    width: 112%;
    height: 100%;
    border-radius: 0;
}

li:hover{
    overflow: hidden;
    color: #fff;
}
